/.ipynb_checkpoints
.ipynb_checkpoints
/06_linear_discrimant_analysis/.ipynb_checkpoints
/07_lda_classification/.ipynb_checkpoints
/10_intro_to_tensorflow/.ipynb_checkpoints
/11_ica_autoencoder/.ipynb_checkpoints
/12_CNN/.ipynb_checkpoints
